!use "xrdb .Xresources" to reload

URxvt.scrollBar: false
!URxvt.font:      -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
!URxvt.font: xft:Consolas:pixelsize=12
! URxvt.font: 
!URxvt.font: -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso10646-1
! URxvt.letterSpace: -1
! URxvt.font: 		 	-*-terminus-medium-r-*-*-12-*-*-*-*-*-*-*
! urxvt*depth: 32

! URxvt*font: -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1
! URxvt*font: -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1

URxvt.font: -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1

urxvt*transparent: true
urxvt*shading: 10

*foreground: #888888

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.perl-ext-common: selection-to-clipboard

! GRAY
*color0:  #333333 
! RED
*color1:  #aa7070
! GREEN
*color2:  #668866
! YELLOW
*color3:  #999966
! BLUE
*color4:  #666688
! MAGENTA
*color5:  #75507B
! ORANGE
*color6:  #aa5544
! WHITE
*color7:  #888888

*color8:  #555555
*color9:  #CC7070
*color10: #669966
*color11: #AAAA66
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #BBBBBB



